name: Bot
on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:
  watch:
    types: started
  repository_dispatch:
    types: SuMaiKaDe-bot
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }} 
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: sync SuMaiKaDe-bot
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/SuMaiKaDe/bot.git"
          source_branch: "main"
          destination_branch: "Bot"
          github_token: ${{ secrets.PAT }}
